/* Thanh menu */
.tab-menu {
  display: flex;
  justify-content: center;
  background: var(--p-100);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.tab-menu button {
  font-family: "Consolas", sans-serif;
  font-size: var(--p-font-size);
  line-height: var(--p-light-height);
  letter-spacing: var(--p-letter-spacing);
  font-weight: 800;
  font-style: normal;

  background: none;
  border: none;
  margin: 0 18px;
  color: var(--p-950);
  cursor: pointer;
  transition: color 0.3s;
}

.tab-menu button:hover {
  color: var(--p-450);
}

.tab-menu button.active {
  color: var(--p-700);
  font-weight: bold;
  border-bottom: 2px solid var(--p-700);
}