@import "theme.css";

#vitricuarobot .frame-vitricuarobot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

#vitricuarobot .frame-vitricuarobot .container-vitricuarobot {
  margin-top: 30px;
  width: 90%;
  background: white;
  border-radius: 15px;
  border: 2px var(--p-800) solid;
  padding: 10px 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 85vh;
}

#vitricuarobot .frame-vitricuarobot .container-vitricuarobot .left-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  align-self: center;
}

#vitricuarobot .frame-vitricuarobot .container-vitricuarobot .left-panel .panel-box {
  margin-top: 6px;
  margin-right: 15px;
  border: 2px solid #444;
  border-radius: 10px;
  background: #f8f9fa;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: 0.3s;
  flex-shrink: 0;
}

#vitricuarobot .frame-vitricuarobot .container-vitricuarobot .left-panel .panel-box .value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 6px;
  text-align: center;
}


#vitricuarobot .frame-vitricuarobot .container-vitricuarobot .left-panel button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  font-weight: bold;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}


#vitricuarobot .frame-vitricuarobot .container-vitricuarobot .left-panel button:hover {
  background-color: #0056b3;
}


#path-canvas {
  width: 100%;
  height: 200px;
  border: 1px solid #aaa;
  border-radius: 6px;
  background-color: #fff;
}

#map {
  flex: 1;
  height: 600px;
  align-self: center;
  border: 2px solid #444;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
}